<h1>{{ Name }} in {{ Model }}</h1>
<img src="{{ PilotCardUrl }}" alt="Pilot Card" />
<ul>
    <li>Skill: {{ Skill }}</li>
    <li>Attack: {{ Attack }}</li>
    <li>Agility: {{ Agility }}</li>
    <li>Hull: {{ Hull }}</li>
    <li>Shields: {{ Shields }}</li>
    <li>Point Cost: {{ Points }}</li>
</ul>